<h4>student id: <%=@student.id %></h4>
<h4> name: <%=@student.name %></h4>
<h4> email: <%=@student.email %></h4>
<h4>classes: </h4>
    <% c_s = @student.college_classes %>
    <% c_s.each do |c| %>
        <li><%= c.name %></li>
    <%end%>
</ul>

